* {
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
}

body {
    background-image: url("/map/main-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
}

#name {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid rgb(245, 128, 128);
    padding: 0px 5px;
    font-size: 1.5rem;
}

svg path {
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    fill: rgb(81, 124, 105);
}

svg path:hover {
    fill: #7DDEF2;
    transition: all 0.15s ease-in-out;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: all 0.15s ease-in-out;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 10px auto;
    max-width: 1300px;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 5rem;
}

.get-started {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.get-started:hover {
    background-color: white;
    color: #000;
    scale: 1.1;
}

.get-started:active {
    scale: 1;
}

.page-header h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

.page-header h2 {
    color: #d1d1d1;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
    width: 60%;
    margin: 0 auto;
}

.page-header {
    top: 50%;
    left: 50%;
}

.page-header a:hover {
    background: #fff;
    color: #000;
    scale: 1.2;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
}

.page-header a:active {
    background: #fff;
    color: #000;
    scale: 1.1;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
}

.page-header a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 4px;
    transition: 0.5s;
    display: block;
    width: 200px;
    margin: 60px auto;
    text-align: center;
    border-radius: 10px;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px;
    margin: 5% 0;
}

.map {
    padding-top: 30px;
    background-color: rgb(16, 25, 22);
}

.map .map-header h1{
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

.footerwrapper {
    position: absolute;
    right: 0;
    left: 0;
    padding: 2vw 10vw 2vw 10vw;
    background: rgb(16, 25, 22);
    /*linear-gradient(to top, rgb(13, 33, 40), rgb(13, 33, 40), rgb(13, 33, 40), rgb(13, 33, 40), rgb(13, 33, 40), black)*/
}

.dataandform {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.footerwrapper .footdata h1 {
    font-size: 80px;
    color: white;
}

.footerwrapper .footdata p {
    font-weight: 500;
    margin-top: 30px;
    color: white;
    width: 30vw;
}

.footerwrapper .footform form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.footerwrapper .footform form input {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid white;
}

.footerwrapper .footform form .message {
    padding-bottom: 100px;
}

.footerwrapper .footform form button {
    font-size: 20px;
    width: fit-content;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid white;
    letter-spacing: 2px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.footerwrapper .footform form button:hover {
    color: grey;
    scale: 1.1;
    transition: 0.4s;
}